@use "../../styles/responsive.scss" as *;

.all-categories {
  font-size: 14px;
  font-weight: normal;
  // position: fixed;
  z-index: 3;
  display: flex;
  flex-direction: column;
  gap: 18px;
  // align-items: left;
  justify-content: center;
  width: 120px;
  height: 100%;
  @include md {
    width: max-content;
  }

  .logo-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 2.4rem;
    h1 {
      scale: 1.5;
    }
  }
}
