@use "../../styles/responsive.scss" as *;

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.45);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  width: 90%;
  max-width: 500px;
  background-color: #fff;
  padding: 2rem;
  border-radius: 1.25rem;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  position: relative;
  animation: fadeIn 0.3s ease-in-out;
  @include sm {
    padding: 1.5rem;
  }
}

.modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.25rem;
  h3 {
    font-size: 16px;
    margin: 0 auto;
    color: #6b4eff;
    font-weight: 600;
  }
  @include sm {
    margin-bottom: 0;
  }
}

.user-avatar {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  object-fit: cover;
}

.close-btn {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: #999;
  width: 48px;
}

.stars {
  margin: 1rem 0;
  font-size: 1.8rem;
  color: #ccc;
  display: flex;
  gap: 0.5rem;
  cursor: pointer;
  @include sm {
    margin: 0.5rem 0;
  }
}

.star.filled {
  color: #f7c948;
}

textarea {
  width: 100%;
  height: 100px;
  margin-top: 1rem;
  border: 1px solid #ddd;
  padding: 0.75rem;
  border-radius: 0.5rem;
  resize: vertical;
  font-size: 1rem;
  font-family: inherit;
  @include sm {
    font-size: 0.9rem;
    height: 75px;
  }
}

.file-upload {
  margin-top: 1rem;
  display: inline-block;
  padding: 0.6rem 1rem;
  background-color: #f3f3f3;
  color: #333;
  border-radius: 0.5rem;
  cursor: pointer;
  font-weight: 500;
  border: 1px dashed #ccc;
  transition: all 0.3s ease;
  @include sm {
    font-size: 14px;
  }
}

.file-upload:hover {
  background-color: #e6e6e6;
}

.file-upload input {
  display: none;
}

.image-preview-gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 1rem;
}

.image-preview-gallery img {
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 0.5rem;
  border: 1px solid #ddd;
}

.submit-btn {
  margin-top: 1.5rem;
  width: 100%;
  padding: 0.75rem;
  border: none;
  border-radius: 0.5rem;
  background-color: #4f46e5;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease;
  @include sm {
    margin-top: 1rem;
    font-size: 14px;
    padding: 0.6rem;
  }
}

.submit-btn:hover {
  background-color: #4338ca;
}

.category-review {
  margin-top: 1rem;
  font-size: 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  @include sm {
    font-size: 0.9rem;
  }

  input[type="checkbox"] {
    transform: scale(1.2);
    margin-right: 0.5rem;
  }
  label {
    display: flex;
  }
}

.category-ratings-section {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .category-rating {
    display: flex;
    align-items: center;
    justify-content: space-between;

    label {
      font-size: 1rem;
      font-weight: 500;
      @include sm {
        font-size: 0.9rem;
      }
    }

    input {
      width: 60px;
      // padding: 0.5rem 0;
      border: 1px solid #ddd;
      border-radius: 0.5rem;
      text-align: center;
    }

    .slider-container {
      display: flex;
      align-items: center;
      gap: 1rem;

      input[type="range"] {
        width: 150px;
        height: 8px;
        background: #ddd;
        border-radius: 5px;
        outline: none;
        transition: background 0.3s;

        &::-webkit-slider-thumb {
          -webkit-appearance: none;
          width: 20px;
          height: 20px;
          background: #6c5ce7;
          border-radius: 50%;
          cursor: pointer;
          box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
        }

        &::-moz-range-thumb {
          width: 20px;
          height: 20px;
          background: #6c5ce7;
          border-radius: 50%;
          cursor: pointer;
        }
      }

      .slider-value {
        font-size: 1rem;
        font-weight: bold;
        color: #6c5ce7;
      }
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
