@use "../../styles/responsive.scss" as *;

.home {
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  .sidebar-parent {
    background-color: white;
  }
  .view {
    min-width: 74%;
    // overflow-y: scroll;
    .home-content {
      height: 100vh;
      overflow-y: auto;
    }
  }

  @include md {
    gap: 0;
    .sidebar-overlay {
      height: 100vh;
      width: 100vw;
      position: absolute;
      top: 0;
      left: 0;
      overflow-y: hidden;
      /* overflow: hidden; */
      background: rgba(0, 0, 0, 0.414);
    }
  }

  .selcetion {
    display: block;
    min-width: 200px;

    @include md {
      display: block;
      background-color: rgb(255, 255, 255);
      overflow: hidden;
      position: fixed;
      display: block;
      z-index: 1;
      height: 100vh;
      left: 0;
      width: 150px;
    }
  }
  .selcetion-active {
    @include md {
      display: none;
    }
  }
  .view {
    @include md {
      width: 100vw;
    }
  }
}
@media screen and (min-width: 1366px) {
  .home {
    max-width: 1340px;
    margin-left: auto;
    margin-right: auto;
    .nav-container {
      max-width: 1100px;
    }
  }
}
