@use "../../styles/responsive.scss" as *;

.card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 300px;
  height: 325px;
  /* padding: 16px; */
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  &:hover {
    transform: scale(1.05);
  }
  @include md {
    width: 150px;
    height: 200px;
    font-size: small;
  }

  .card-img {
    width: 100%;
    max-height: 71%;
    // height: 180px; // Adjust height based on image size
    object-fit: cover;
  }

  .card-details {
    padding: 12px 0;
    font-size: smaller;

    .card-title {
      font-weight: 600;
      color: #333;
      margin: 0;
      margin-bottom: 8px;
      text-align: center;
    }

    .card-reviews {
      display: flex;
      align-items: center;
      justify-content: center;
      color: #f39c12;
      @include md {
        font-size: 0.8rem;
      }

      .total-reviews {
        text-align: center;
        font-size: 0.8rem;
        color: #777;
      }
    }

    .card-price {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .price {
        font-size: 1rem;
        color: #e74c3c;
        @include md {
          font-size: 0.9rem;
        }

        del {
          margin-right: 8px;
          color: #aaa;
        }
      }

      .bag {
        padding: 5px 0 8px 8px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;

        .bag-icon {
          color: #fff;
          font-size: 1.3rem;
          background-color: transparent;
          color: black;
        }
      }
    }
  }
}
