.product-page {
  font-family: "Arial", sans-serif;
  padding: 20px;
  background-color: #f8f8f8;

  .back-button {
    display: flex;
    align-items: center;
    background: #ff6b6b;
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    top: 20px;
    left: 20px;
    transition: 0.3s;

    &:hover {
      background: #d64a4a;
    }

    svg {
      margin-right: 5px;
    }
  }

  .product-container {
    display: flex;
    justify-content: space-evenly;
    max-width: 1200px;
    max-height: 100vh;
    margin: 60px auto 20px;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    .product-image {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 30px;

      .main-image {
        width: 400px;
        border-radius: 10px;
      }
      .product-other-images {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        margin-top: 10px;
        img {
          width: 80px;
          height: 80px;
          border-radius: 5px;
          cursor: pointer;
          transition: 0.3s;

          &:hover {
            transform: scale(1.05);
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
          }
        }
        .selected-image {
          border: 2px solid #ff6b6b;
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
        }
      }
    }
    .product-details {
      min-width: 340px;
      max-width: 400px;
      max-height: 100vh;
      padding-left: 20px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      gap: 7px;
      overflow-y: scroll;

      h1 {
        font-size: 28px;
        color: #333;
        text-align: center;
      }

      .subtitle {
        color: #777;
        font-size: 16px;
      }

      .rating {
        font-size: 20px;
        color: #f4b400;
        display: flex;
        align-items: center;
        gap: 5px;

        .star {
          &.full {
            color: #f4b400; // Full star color
          }
          &.half {
            color: #f4b400; // Half star color
            position: relative;

            &:before {
              content: "★";
              position: absolute;
              left: 0;
              width: 50%;
              overflow: hidden;
              color: #f4b400;
            }
          }
          &.empty {
            color: #ddd; // Empty star color
          }
        }
      }

      .description {
        margin: 10px 0;
        color: #555;
      }

      .color-section {
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-width: 340px;
        max-width: 400px;
        .color-heading {
          font-size: 13px;
          color: gray;
          font-weight: lighter;
        }
        .color-options {
          display: flex;
          gap: 10px;
          margin: 10px 0;

          .color {
            width: 40px;
            height: 40px;
            border-radius: 25%;
            scale: 0.8;
            cursor: pointer;
            border: none;

            &.gray {
              background: gray;
            }
            &.white {
              background: white;
              border: 2px solid black;
            }
            &.red {
              background: red;
            }
            &.blue {
              background: blue;
            }
            &.black {
              background: black;
              color: white;
            }
            &.brown {
              background: brown;
              color: white;
            }
          }
          .selected {
            border: 4px solid rgb(31, 232, 0);
            scale: 1;
          }
        }
      }
      .size-heading {
        display: flex;
        align-items: flex-start;
        min-width: 340px;
        max-width: 400px;
        margin-top: 5px;
        font-size: 13px;
        color: gray;
        font-weight: lighter;
      }
      .size-options {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        margin: 10px 0;

        .size {
          background: #f3f3f3;
          padding: 10px;
          border-radius: 5px;
          cursor: pointer;
          border: none;
          width: 116px;
          font-weight: bold;

          &:hover,
          &.selected {
            border: 1px solid #555;
            padding: 9px;
          }

          span {
            display: block;
            font-size: 11px;
            color: #bfbdbd;
            font-weight: lighter;
          }
        }
      }

      .price {
        font-size: 24px;
        font-weight: bold;
        margin: 10px 0;
      }

      .add-to-cart {
        background: #ff9f43;
        border: none;
        padding: 12px;
        width: 100%;
        color: white;
        font-size: 18px;
        border-radius: 5px;
        cursor: pointer;
        transition: 0.3s;

        &:hover {
          background: #ff7b00;
        }
        &:disabled {
          cursor: not-allowed;
        }
      }
      .reviews-section {
        display: flex;
        flex-direction: column;
        gap: 10px;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-top: 20px;
        font-size: 16px;
        color: #555;
        .rating {
          span {
            color: #2b2b2b;
          }
        }

        .review {
          display: flex;
          align-items: flex-start;
          gap: 5px;
          cursor: pointer;
          transition: 0.3s;
          flex-direction: column;
          padding: 5px;
          background-color: #ffffd3;
          text-align: start;
          width: 100%;

          &:hover {
            color: #ff6b6b;
          }
          .review-header {
            display: flex;
            gap: 20px;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            .review-rating {
              font-size: 11px;
              color: #f4b400;
            }
            .review-user {
              font-size: 14px;
              color: #777;
            }
          }
        }
        #showMoreBtn {
          background: #6c5ce7;
          color: white;
          border: none;
          padding: 10px 15px;
          font-size: 16px;
          border-radius: 5px;
          cursor: pointer;
          transition: 0.3s;

          &:hover {
            background: #5b4dc2;
          }
        }
      }
    }
  }

  .features {
    display: flex;
    gap: 5px;
    margin-bottom: 20px;
    justify-content: space-around;
    margin-top: 40px;
    text-align: center;

    .feature {
      background: #fff;
      padding: 10px;
      border-radius: 8px;
      width: 200px;
      box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
    }
  }
}
@media (max-width: 819px) {
  .product-page .product-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-height: none;
    .product-details {
      padding: 10px;
      max-height: none;
      overflow-y: auto;
    }
  }

  .back-button {
    position: static;
    margin-bottom: 10px;
  }
}
@media (max-width: 502px) {
  .product-page {
    padding-left: 0;
    padding-right: 0;
    .product-container {
      margin-left: 0;
      margin-right: 0;
      padding-left: 0;
      padding-right: 0;
      .product-details {
        min-width: auto;
        max-width: 400px;
        .size-options {
          justify-content: center;
          align-items: center;
        }
      }
      .product-image img {
        max-width: 308px;
      }
    }
    .features {
      flex-wrap: wrap;
    }
  }
}
