* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  background-color: rgb(227, 255, 246);
}
a {
  text-decoration: none;
  color: #fff;
  display: flex;
  align-items: center;
}
input[type="button"] {
  cursor: pointer;
}
label {
  input[type="radio"] {
    margin-right: 10px;
  }
}
